<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscador de Livros</title>
  </head>
  <body>
    <h1>Encontre Livros</h1>
    <form action="/search" method="POST">
      <label for="query">Digite o nome do livro ou autor:</label>
      <input type="text" id="query" name="query" required />
      <button type="submit">Buscar</button>
    </form>

    {% if books %}
    <h2>Resultados:</h2>
    <ul>
      {% for book in books %}
      <li>
        <h3>{{ book['volumeInfo']['title'] }}</h3>
        <p>{{ book['volumeInfo']['authors'] | join(', ') }}</p>
        <p>{{ book['volumeInfo']['description'] }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
